.header
  height: 100vh
  background: url('../img/hero-bg-3.jpg') no-repeat center / cover
  position: relative
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba(0, 0, 0, 0.57)
  &__menu
    padding-top: 1rem
    position: relative
    display: flex
    justify-content: space-around
    // line-height: 23px
.menu
  font-size: 18px
  font-weight: 700
  &__label
  &__nav
    padding-top: 64px
    font-weight: 700
  &__phone
    color: $white
    padding-top: 54px
    // font-size: 18px
  .phone
    &__number
      margin: 0
.nav
  &__item
    text-decoration: none
    color: $white
    font-size: 18px
    margin-right: 4rem
    line-height: 23px
    width: 136px
    height: 26px
    padding: 3px 25px
    &:hover
      cursor: pointer
      background-color: $grey
.hero
  position: relative
  width: 1114px
  height: 315px
  margin: 272px 0 0 321px
  font-weight: 700
  &__img
    margin-top: -15px
    position: absolute
  &__button
    width: 396px
    height: 111px
    background: conic-gradient(from 180deg at 50% 50%, #E5AB4A -54.38deg, #FEE72E 63.75deg, #E9C54B 131.25deg, #E5AB4A 305.62deg, #FEE72E 423.75deg)
    box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.25)
    border-radius: 70px
    font-size: 24px
    margin-right: 41px
    &:hover
      cursor: pointer
  &__text
    font-size: 72px
    color: $white
  &__order
    position: relative
.hero__text__big
  margin: 1rem 0
.hero__text__small  
  // text-transform: uppercase
  font-size: 42px
  margin: 2rem 0
  color: #FEFEFEFF
.text__yellow
  color: $yellow  
    